################################################
################################################

Just rename this file to 'logs.txt' so that

the bot can log your pokes while running!

################################################
################################################